<div class="case-study">
  <div class="case-study__sticky-text">
    {% for column in include.columns %}
      <div class="case-study__text-column">
        {% if column.heading != null and column.heading != '' %}
          <h5 class="case-study__heading">{{ column.heading }}</h5>
        {% else %}
          <h5 class="case-study__heading case-study__heading--empty">&nbsp;</h5>
        {% endif %}

        {% for paragraph in column.paragraphs %}
          <p class="case-study__paragraph">{{ paragraph }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="case-study__images">
    {% for media_url in include.images %}
      {% if media_url contains '.mp4' %}
        <video
          src="{{ media_url | relative_url }}"
          class="case-study__img"
          autoplay
          loop
          muted
          playsinline
        ></video>

      {% else %}
        {% include image.html src=media_url class="case-study__img" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
