<header class="header">
  {% if page.url != '/' %}
  <a href="{{ '/' | relative_url }}" class="header__logo-button">
    <img
      id="header__logo"
      src="{{ '/assets/images/header/sandy.svg' | relative_url}}"
    />
  </a>
  {% endif %}

  <div class="header__items">
    <a href="{{ '/work' | relative_url }}">work</a>

    <button
      role="button"
      id="menu-toggle-button"
      data-close-img="{{ '/assets/images/header/close.svg' | relative_url }}"
      data-open-img="{{ '/assets/images/header/menu.svg' | relative_url }}"
    >
      <img
        src="{{ '/assets/images/header/menu.svg' | relative_url }}"
        id="menu-toggle-image"
      />
    </button>
  </div>
</header>

<script>
  const header = document.querySelector(".header");
  let lastScrollY = window.scrollY;

  window.addEventListener(
    "scroll",
    () => {
      const currentScrollY = window.scrollY;
      console.log(currentScrollY);

      if (currentScrollY <= 0) {
        header.classList.remove("header--hidden");
        return;
      }

      if (currentScrollY > lastScrollY) {
        header.classList.add("header--hidden");
      } else {
        header.classList.remove("header--hidden");
      }

      lastScrollY = currentScrollY;
    },
    { passive: true },
  );
</script>
