<nav class="project-nav" aria-label="More Case Studies">
  <ul class="project-nav__list">
    <li class="project-nav__item">
      <a href="{{ '/work/buoy/' | relative_url }}" class="project-nav__link">
        <img
          src="{{ '/assets/images/work/case_studies/buoy/buoy_logo.svg' | relative_url }}"
          class="project-nav__image"
          loading="lazy"
        >
      </a>
    </li>

    <li class="project-nav__item">
      <a href="{{ '/work/furore/' | relative_url }}" class="project-nav__link">
        <img
          src="{{ '/assets/images/work/case_studies/furore/furore_logo.svg' | relative_url }}"
          class="project-nav__image"
          loading="lazy"
        >
      </a>
    </li>

    <li class="project-nav__item">
      <a href="{{ '/work/music/' | relative_url }}" class="project-nav__link">
        <img
          src="{{ '/assets/images/work/case_studies/music/music_logo.svg' | relative_url }}"
          class="project-nav__image"
          loading="lazy"
        >
      </a>
    </li>

    <li class="project-nav__item">
      <a
        href="{{ '/work/photography/' | relative_url }}"
        class="project-nav__link"
      >
        {%
          include image.html
          src="/assets/images/work/case_studies/photography/photography_headerimage.jpg"
          class="project-nav__image"
          loading="lazy"
        %}
      </a>
    </li>
  </ul>
</nav>
