<section class="title-block">
  <aside class="title-meta">
    <h1 class="title-heading">{{ include.heading }}</h1>

    {% if include.subtitles %}
      <div class="title-subtitles">
        {% for subtitle in include.subtitles %}
          <p class="title-subtitle">
            {% if subtitle.link %}
              <a href="{{ subtitle.link }}" class="title-subtitle-link">
            {% endif %}

            {% if subtitle.bold %}
              <b>{{ subtitle.text }}</b>
            {% else %}
              {{ subtitle.text }}
            {% endif %}

            {% if subtitle.link %}
              </a>
            {% endif %}
          </p>
        {% endfor %}
      </div>
    {% endif %}

    {% if include.roles %}
      <ul class="title-roles">
        {% assign roles_array = include.roles | split: ', ' %}
        {% for role in roles_array %}
          <li>{{ role }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </aside>

  <article class="title-description">
    {% for paragraph in include.description %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </article>
</section>
