<section class="title-block">
  <aside class="title-meta">
    <h1 class="title-heading">{{ include.heading }}</h1>

    {% if include.date %}
      <p class="title-date">
      {% if include.date_bold %}
        <b>{{ include.date }}</b>
      {% else %}
        {{ include.date }}
      {% endif %}
      </p>
    {% endif %}
    {% if include.roles %}
      <ul class="title-roles">
        {% assign roles_array = include.roles | split: ', ' %}
        {% for role in roles_array %}
          <li>{{ role }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </aside>

  <article class="title-description">
    {% for paragraph in include.description %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </article>
</section>
