---
layout: default
---

{% include hero.html img="/assets/images/work/hover_images/buoy_cover_hover.jpg"
%}

<div class="container">
  {% include title.html heading="BUOY" date="April 2025 to June 2025 [8 Weeks]"
  roles="GRAPHIC DESIGNER, RESEARCHER, PHOTOGRAPHER, UX/UI DESIGNER, STRATEGIST,
  COPYWRITER" description="This project was crafted to answer a university brief
  that asked for a new magazine brand to be created to compete within Aotearoa’s
  magazine market. This birthed the brand, BUOY, a magazine centred around
  self-expression and individualism, showcasing the alternative music and style
  culture within Aotearoa. BUOY’s goal is to step away from convention and
  celebrate those who go against the grain to form their own identities in a
  world that values conformity. Providing a space that features the work of
  under-represented creatives; a voice for the unconventional." %}
</div>

<div id="gallery-container">
  <img
    src="/assets/images/work/case_studies/buoy/buoy_casestudy_01.jpg"
    class="drift-item drift-item--md"
    draggable="false"
  />

  <p class="drift-item drift-item--sm">
    Problem
    <br />
    <br />
    How might we create a magazine brand within Aotearoa’s market for youth
    (aged 14-24) to embrace and encourage alternative expression in a world that
    values trends and social conformity?
  </p>

  <p class="drift-item drift-item--sm">
    Approach
    <br />
    <br />
    The core of this project was based on interview findings from the target
    demographic of Aotearoa citizens aged 14 to 24 years old with interests in
    alternative culture. These findings revealed that self-expression and
    listening to a wide range of music are regarded as highly important pieces
    within their lives, which led the magazine to embrace a bold and
    unconventional visual style to capture the expressive and broad nature of
    the alternative scene.
    <br />
    <br />
    Additionally, an integral part of the brand was centred around creating a
    sense of belonging and community to users through creating a sense of
    representation, as connection is a basic human need, and
    alternative-aligning people tend to find themselves alienated within popular
    culture.
  </p>
</div>
