---
layout: default
---

<div class="work-grid">
  {% include menu-item.html url="/work/buoy"
  img="/assets/images/work/main_images/buoy_cover.jpg"
  imgHover="/assets/images/work/hover_images/buoy_cover_hover.jpg" %} {% include
  menu-item.html url="/work/furore"
  img="/assets/images/work/main_images/furore_cover.jpg"
  imgHover="/assets/images/work/hover_images/furore_cover_hover.jpg" %} {%
  include menu-item.html url="/work/music"
  img="/assets/images/work/main_images/music_cover.jpg"
  imgHover="/assets/images/work/hover_images/music_cover_hover.jpg" %} {%
  include menu-item.html url="/work/photography"
  img="/assets/images/work/main_images/photography_cover.jpg"
  imgHover="/assets/images/work/hover_images/photography_cover_hover.jpg" %}
</div>
