---
layout: default
---

<div class="work-grid">
  {% include menu-item.html 
    url="{{ '/work/buoy' | relative_url }}"
    img="{{ '/assets/images/work/main_images/buoy_cover.jpg' | relative_url }}"
    imgHover="{{ '/assets/images/work/hover_images/buoy_cover_hover.jpg' | relative_url }}" 
  %} 
  
  {% include menu-item.html 
    url="{{ '/work/furore' | relative_url }}"
    img="{{ '/assets/images/work/main_images/furore_cover.jpg' | relative_url }}"
    imgHover="{{ '/assets/images/work/hover_images/furore_cover_hover.jpg' | relative_url }}" 
  %} 
  
  {% include menu-item.html 
    url="{{ '/work/music' | relative_url }}"
    img="{{ '/assets/images/work/main_images/music_cover.jpg' | relative_url }}"
    imgHover="{{ '/assets/images/work/hover_images/music_cover_hover.jpg' | relative_url }}" 
  %} 
  
  {% include menu-item.html 
    url="{{ '/work/photography' | relative_url }}"
    img="{{ '/assets/images/work/main_images/photography_cover.jpg' | relative_url }}"
    imgHover="{{ '/assets/images/work/hover_images/photography_cover_hover.jpg' | relative_url }}" 
  %}
</div>
