<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sandy</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ '/assets/js/matter.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/floating.js' | relative_url }}"></script>
  </head>
  <body>
    {% include header.html %}

    <main>{{ content }}</main>

    {% include menu-overlay.html %}
  </body>

  <script src="{{ '/assets/js/menu.js' | relative_url }}"></script>
</html>
